<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .centrar-texto {
      text-align: center;
      font-weight: bold;
    }
  </style>
  <title>Centrar Texto y Negrita</title>
</head>
<body>

<div class="centrar-texto">
  <p>¡Los 10 personajes más buscados de Marvel!</p>
</div>

<div class="container-fluid">
  <a class="navbar-brand" href="#">
    <img src="https://epicland.com.mx/cdn/shop/articles/hipertextual-marvel-revela-sera-final-universo-marvel-2019314666.jpg?v=1627412732&width=1000" alt="Comic" width="1000" height="500">    
  </a>
</div>
